@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <table>
            <tr>
                <td> Username :</td>
                <td><input type="text" name="userName" /></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" name="password" /></td>
            </tr>
        </table>
        <input type="submit" value="Login To site" />
    }

</div>
