@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var name in ViewBag.DeerName){
    
    <h1 class="text-center"> @name </h1> <br />

}

<h1 class="text-center"> hello world</h1>
